<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.cognizant.Address">
        <property name="city" value="Chennai"/>
    </bean>

    <bean id="department" class="com.cognizant.Department">
        <property name="departmentName" value="Information Technology"/>
    </bean>

    <bean id="employee" class="com.cognizant.Employee">

        <!-- Constructor Injection -->
        <constructor-arg value="Sindhu"/>

        <!-- Setter Injection -->
        <property name="address" ref="address"/>

        <!-- Setter Injection -->
        <property name="department" ref="department"/>

    </bean>

</beans>