<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.cognizant.Address">

        <property name="city" value="Chennai"/>

    </bean>

    <bean id="employee" class="com.cognizant.Employee">

        <property name="name" value="Sindhu"/>

        <property name="address" ref="address"/>

    </bean>

</beans>